html,
body {
    margin: unset;
    padding: unset;
}

body {
    font-family: sans-serif;
    width: auto;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
}

.logo {

    justify-content: center;
    align-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.knop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {

    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img{

}

.inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simple{
    margin: 0px;
}

.zag {
    height: auto;
    width: 500px;
    font-size: 30px;
}

.osntxt {
    height: auto;
    width: 445px;
    font-size: 22px;
    line-height: 1.5;
}

.but {
    height: 70px;
    width: 255px;
    background-color: transparent;
    font-size: 20px;
    border-color: #7875FE;
    color: #7875FE;
    transition: all 40ms ease-in-out
}

.but:hover{
    background-color: #7875FE;
    color: white
}

.verh {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.v {
    margin-top: 50px;
    padding-top: 25px;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    border-top: 1px solid #C0C0C0;

}

.tpage {
    background-color: #EBEBEB;
}

.two {
    display: grid;
    justify-content: center;
}

.niz {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.foldetv8 {
    width: 1vw;
}

.maxbeliz {
    font-size: 30px;
    width: 25%;
}

.maxb {
    font-size: larger;
}

.abz {
    font-size: 22px;
}

.tree {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 60px;
}


.cat{
    margin: 0px;
}

.tir{
    font-size: 14px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.sub{
    line-height: 2;
    font-size: 16px;
}

.kartochki {
    width: 260px;
    height: 465px;
}

.kartpack{
    height: 200px;
}

ul{
    padding: 0px;
    text-align: left;
    color: #7875FE;
    font-size: large;
}

ul:hover{
    color: #4946B4;
    
}

.chpage {
    background-color: #EBEBEB;
}

.four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5%;
}

.five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 40px;
}

.inform {

    align-items: center;
}

.six {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #4C5866;
}

.media {
    display: flex;
    justify-content: space-between;
    gap: 35px;

}

.copyright {
    display: flex;
    justify-content: center;
}